<div class="row">
    <div class="col-xs-12" style="margin-bottom: 20px;">
        <a class="pull-right btn btn-primary" href="{{ adminUri }}/gallery/create{{ gallery ? '/' ~ gallery.id : '' }}"><i class="fa fa-plus"></i> Add Gallery</a>
    </div>
</div>

{% if galleries.count %}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Galleries</h3>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Gallery</th>
                        <th style="width: 150px;">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="gallery-list">
                    {% for gallery in galleries %}
                        <tr data-id="{{ gallery.id }}">
                            <td><a href="{{ adminUri }}/gallery/edit/{{ gallery.id }}">{{ gallery.title }}</a></td>
                            <td>
                                <a href="{{ adminUri }}/gallery/delete/{{ gallery.id }}" class="btn btn-default btn-delete"><i class="fa fa-trash"></i></a>
                                <i class="fa fa-arrows handle" style="color: #666; float: right; margin-top: 5px; padding: 5px; display: inline-block; cursor: move;"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
    $('.gallery-list').sortable({
        axis: 'y',
        //containment: 'parent',
        items: 'tr',
        //helper: fixHelper,
        handle: '.handle',
        update: function () {
            var order = {};

            $('.gallery-list tr').each(function (idx) {
                order[$(this).data('id')] = idx;
            });

            $.post('{{ adminUri }}/gallery/order-galleries', {order: JSON.stringify(order)});
        }
    });
</script>
{% endif %}